<launch>
  <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 100" />
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find value_iteration)/config/conf.rviz"/>
  <arg name="map_file" default="$(find value_iteration)/maps/ueda_room.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen"/>
</launch>
