<launch>
  <node pkg="tf" type="static_transform_publisher" name="world_to_map" args="0 0 0 0 0 0 world map 100" />
  <node pkg="tf" type="static_transform_publisher" name="map_to_grid" args="-0.43 -0.43 0 1.57 3.14 0 map map_grid 100" />

  <rosparam command="load" file="$(find grid_map_demos)/config/image_to_gridmap_demo.yaml" />

  <!-- Load the image. -->
  <node pkg="grid_map_demos" type="image_publisher.py" name="image_publisher" output="screen">
    <param name="image_path" value="/tmp/value_t=0.pgm" />
    <param name="topic" value="~image" />
  </node>

  <!-- Launch the grid map image to grid map demo node. -->
  <node pkg="grid_map_demos" type="image_to_gridmap_demo" name="image_to_gridmap_demo" output="screen" />

  <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen" />
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find value_iteration)/config/conf.rviz"/>
  <arg name="map_file" default="$(find value_iteration)/maps/ueda_room_small.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen" />
  <node pkg="value_iteration" name="vi_node" type="vi_node" output="screen" required="true" />
  <node pkg="value_iteration" name="vi_control" type="vi_control.py" output="screen" required="true" />
</launch>
